<div class="container clearfix">
	<h1>Formation: {{formation.name}}</h1>
	<button id='js-fork-btn' class="float-r">Fork</button>
	{{#if user}}
	    Created by: {{user.username}}
	{{/if}}
	{{!--<div>
		{{cat}}
		{{!--formation.dots--}}
	</div>
	{{!-- {{create buttons for cancel save add player fork}} --}}
	<div class="clearfix container">
		{{!--<div class="team-wrap">
			<div class="i-block">Team 1</div>
			<select id='team1'>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
			</select>
		</div>

		<div class="team-wrap">
			<div class="i-block">Team 2</div>
			<select id='team2'>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
			</select>
		</div>--}}
		<button class='js-delete-btn delete'>Delete</button>
		<button class='js-edit-btn'>Edit</button>
		<button class='js-addPlayer-btn'>+ Player</button>
	</div>
</div>
<script type="text/javascript">
	let dots = {{{dots}}};
	console.log(dots);
</script>
<script src="../javascript/soccer-d3.js"></script>

<!--Remove br after styling-->
{{!--<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>--}}


<div class="container">Table Stats
	<table>
		<tr>
			<th class="th-dark">Team</th>
			<th class="th-dark">Player</th>
			<th class="th-dark">Remove Player</th>
		</tr>
		{{#each dotArray}}
			<tr data-player-id="{{this.id}}" contentEditable="true">
				<td data-team="{{this.team}}">{{this.team}}</td>
				<td data-player="{{this.player}}">{{this.player}}</td>
				<td contentEditable="false" class="center"><button id='js-remove-player'>Delete</button></td>
			<tr>
		{{/each}}
	</table>
	<button class='js-save-btn save block-center'>Save</button>
	<button class='js-cancel-btn block-center'><a href="/profile/">Cancel</a></button>

</div>