<div class="container">
	<h1>Formation: <span id="formName">{{formation.name}}<span></h1>
	{{#if user}}
	    <div class="center">Created by: {{formation.authorName}}</div>
	{{/if}}
	{{!-- {{create buttons for cancel save add player fork}} --}}
	<div class="container center">
		<div class="form-btn-padding" id="formation-top-button">
			<button id='js-fork-btn' class="fork">Fork</button>
			{{!-- <button class='js-edit-btn'>Edit</button> --}}
			{{!-- connecting straight to the server from html --}}
			{{!-- <a href="/deleteForm/{{formation._id}}">Delete Link Get Req</a> --}}
			{{!-- jquery method utilizing ajax to delete the formation --}}
			<button class='js-delete-btn delete'>Delete</button> 
		</div>
		<br>
		<div class="team-wrap">
			<div class="i-block">Team 1</div>
			<br>
			<button class='js-addPlayer-btn add-player'>+ Player</button>
		</div>
		<div class="team-wrap">
			<div class="i-block">Team 2</div>
			<br>
			<button class='js-addPlayer-btn2 add-player'>+ Player</button>
		</div>
	</div>
</div>

<div id='soccerField'></div>
<div class="background-color center" id="accordion-padding"><span id="table-instruction">Instructions:</span> Click on any cell in the tables below to edit values</div>
<div class="accordion">
	<div class="col-6">
		<div class="accordion-header">Team 1<hr></div>
		<div class="accordion-content bottom-border">
			<table id="team1-table">
				<tr class="table-header">
					<th class="th-dark hidden">Team</th>
					<th class="th-dark">Number</th>
					<th class="th-dark">Position</th>
					<th class="th-dark">Remove Player</th>
				</tr>
				{{#each team1}}
					<tr data-player-id="{{this.id}}" contentEditable="true" class="table-content">
						<td data-team="{{this.team}}" class="hidden">{{this.team}}</td>
						<td data-player="{{this.player}}" >{{this.player}}</td> {{!--displays the player number--}}
						<td data-name="{{this.name}}">{{this.name}}</td> {{!--displays the player position--}}
						<td contentEditable="false" class="center"><button id='js-remove-player' class="player-delete">Delete</button></td>
					<tr>
				{{/each}}
			</table>
		</div>
	</div>
	<div class="col-6">
		<div class="accordion-header">Team 2 <hr></div>
		<div class="accordion-content bottom-border">
			<table id="team2-table">
				<tr class="table-header">
					<th class="th-dark hidden">Team</th>
					<th class="th-dark">Number</th>
					<th class="th-dark">Position</th>
					<th class="th-dark">Remove Player</th>
				</tr>
				{{#each team2}}
					<tr data-player-id="{{this.id}}" contentEditable="true" class="table-content">
						<td data-team="{{this.team}}" class="hidden">{{this.team}}</td>
						<td data-player="{{this.player}}">{{this.player}}</td> {{!--displays the player number--}}
						<td data-name="{{this.name}}">{{this.name}}</td> {{!--displays the player position--}}
						<td contentEditable="false" class="center"><button id='js-remove-player' class="player-delete">Delete</button></td>
					<tr>
				{{/each}}
			</table>
		</div>
	</div>
</div>
<div class="background-color form-btn-padding center" id="formation-btn-padding">
	<button class='js-save-btn save'>Save</button>
	<a href="/"><button>Cancel</button></a>
</div>

{{!-- Create a section for users to leave feedback on a formation --}}
<hr>
<div class="background-color" id="comment-section">
	<h4>Comments</h4>
	{{!-- setup communication between client and server side --}}
	<form action="" method="post">
		<textarea name="userFeedback" placeholder="Provide feedback" id="userFeedback"></textarea>
		<input type="submit" name="submitBtn" class="form-btn-padding submit">
	</form>
	<ul id="comments-provided">
		{{#each comments}}
		<div class='comment-design'>
			<li>
				{{this.feedback}}
				<br>
				<span class="comment-author">{{this.authorName}}</span>
			</li>
		</div>
		{{/each}}
	</ul>
</div>
<script type="text/javascript">
	let dots = {{{dots}}};
	let modified = false

	// alert user a change has been made but not saved
	  window.onbeforeunload = confirmExit;
	  function confirmExit()
	  {
	  	if(modified) {
		    return "You have attempted to leave this page.  If you have made any changes to the formation without clicking the Save button, your changes will be lost.  Are you sure you want to exit this page?";
	  	}
	  }

</script>
<script src="../javascript/soccer-d3.js"></script>