<div class="container">
	<h1>Formation: <span id="formName">{{formation.name}}<span></h1>
	{{#if user}}
	    <div class="center">Created by: {{formation.authorName}}</div>
	{{/if}}
	{{!--<div>
		{{cat}}
		{{!--formation.dots--}}
	</div>
	{{!-- {{create buttons for cancel save add player fork}} --}}
	<div class="container center">
		<div class="form-btn-padding">
			<button id='js-fork-btn' class="fork">Fork</button>
			{{!-- <button class='js-edit-btn'>Edit</button> --}}
			<button class='js-delete-btn delete'><a href="/">Delete</a></button>
		</div>
		<br>
		<div class="team-wrap">
			<div class="i-block">Team 1</div>
			<br>
			<button class='js-addPlayer-btn'>+ Player</button>
		</div>
		<div class="team-wrap">
			<div class="i-block">Team 2</div>
			<br>
			<button class='js-addPlayer-btn2'>+ Player</button>
		</div>
	</div>
</div>

<div id='soccerField'></div>
<div class="background-color" id="accordion-padding"></div>
<div class="accordion">
	<div class="col-6">
		<div class="accordion-header">Team 1<hr></div>
		<div class="accordion-content bottom-border">
			<table>
				<tr>
					<th class="th-dark">Team</th>
					<th class="th-dark">Player</th>
					<th class="th-dark">Remove Player</th>
				</tr>
				{{#each team1}}
					<tr data-player-id="{{this.id}}" contentEditable="true">
						<td data-team="{{this.team}}">{{this.team}}</td>
						<td data-player="{{this.player}}">{{this.player}}</td>
						<td contentEditable="false" class="center"><button id='js-remove-player'>Delete</button></td>
					<tr>
				{{/each}}
			</table>
		</div>
	</div>
	<div class="col-6">
		<div class="accordion-header">Team 2 <hr></div>
		<div class="accordion-content bottom-border">
			<table>
				<tr>
					<th class="th-dark">Team</th>
					<th class="th-dark">Player</th>
					<th class="th-dark">Remove Player</th>
				</tr>
				{{#each team2}}
					<tr data-player-id="{{this.id}}" contentEditable="true">
						<td data-team="{{this.team}}">{{this.team}}</td>
						<td data-player="{{this.player}}">{{this.player}}</td>
						<td contentEditable="false" class="center"><button id='js-remove-player'>Delete</button></td>
					<tr>
				{{/each}}
			</table>
		</div>
	</div>
</div>
<div class="background-color form-btn-padding center" id="formation-btn-padding">
	<button class='js-save-btn save'>Save</button>
	<button class='js-cancel-btn'><a href="/profile">Cancel</a></button>
</div>
<!--Add section to display list of all formations; similar to the home page-->
{{!-- <div class="background-color" id="more-formations">
	<h4>See More Formations</h4>
	<!--Display a random list of 5 links to display-->
</div> --}}
{{!-- Create a section for users to leave feedback on a formation --}}
<hr>
<div class="background-color" id="comment-section">
	<h4>Comments:</h4>
	{{!-- setup communication between client and server side --}}
	<form action="/submitComment" method="post">
		<textarea name="userFeedback" placeholder="Provide feedback" id="userFeedback"></textarea>
		<input type="submit" name="submitBtn" class="form-btn-padding">
	</form>
	<ul id="comments-provided">
		{{#each comments}}
		<div class='comment-design'>
			<li>
				{{this.feedback}}
				<br>
				<span class="comment-author">{{this.authorName}}</span>
			</li>
		</div>
		{{/each}}
	</ul>
</div>
<script type="text/javascript">
	let dots = {{{dots}}};
	console.log(dots);
</script>
<script src="../javascript/soccer-d3.js"></script>