<div class="container">
	<h1>Formation: <span id="formName">{{formation.name}}<span></h1>
	{{#if user}}
	    <div class="center">Created by: {{formation.authorName}}</div>
	{{/if}}
	{{!--<div>
		{{cat}}
		{{!--formation.dots--}}
	</div>
	{{!-- {{create buttons for cancel save add player fork}} --}}
	<div class="container center">
		<div class="form-btn-padding">
			<button id='js-fork-btn' class="fork">Fork</button>
			<button class='js-edit-btn'>Edit</button>
			<button class='js-delete-btn delete'>Delete</button>
		</div>
		<br>
		<div class="team-wrap">
			<div class="i-block">Team 1</div>
			<br>
			<button class='js-addPlayer-btn'>+ Player</button>
		</div>
		<div class="team-wrap">
			<div class="i-block">Team 2</div>
			<br>
			<button class='js-addPlayer-btn'>+ Player</button>
		</div>
	</div>
</div>

<div id='soccerField'></div>
{{!-- <div class="container tile">
	<h3 class="center">Player Table</h3>
	<table class="col-6 team1">
		<tr>
			<th colspan="3">Team 1</th>
		</tr>
		<tr>
			<th class="th-dark">Team</th>
			<th class="th-dark">Player</th>
			<th class="th-dark">Remove Player</th>
		</tr>
		{{#each dotArray}}
			<tr data-player-id="{{this.id}}" contentEditable="true">
				<td data-team="{{this.team}}">{{this.team}}</td>
				<td data-player="{{this.player}}">{{this.player}}</td>
				<td contentEditable="false" class="center"><button id='js-remove-player'>Delete</button></td>
			<tr>
		{{/each}}
	</table>
	
	<table class="col-6 team2">
		<tr>
			<th colspan="3">Team 2</th>
		</tr>
		<tr>
			<th class="th-dark">Team</th>
			<th class="th-dark">Player</th>
			<th class="th-dark">Remove Player</th>
		</tr>
		{{#each dotArray}}
			<tr data-player-id="{{this.id}}" contentEditable="true">
				<td data-team="{{this.team}}">{{this.team}}</td>
				<td data-player="{{this.player}}">{{this.player}}</td>
				<td contentEditable="false" class="center"><button id='js-remove-player'>Delete</button></td>
			<tr>
		{{/each}}
	</table>
	<div class="form-btn-padding center">
		<button class='js-save-btn save'>Save</button>
		<button class='js-cancel-btn'><a href="/profile/">Cancel</a></button>
	</div>
</div> --}}
<div class="background-color" id="accordion-padding"></div>
<div class="accordion">
	<div class="col-6">
		<div class="accordion-header">Team 1</div>
		<div class="accordion-content bottom-border">
			<table>
				<tr>
					<th class="th-dark">Team</th>
					<th class="th-dark">Player</th>
					<th class="th-dark">Remove Player</th>
				</tr>
				{{#each dotArray}}
					<tr data-player-id="{{this.id}}" contentEditable="true">
						<td data-team="{{this.team}}">{{this.team}}</td>
						<td data-player="{{this.player}}">{{this.player}}</td>
						<td contentEditable="false" class="center"><button id='js-remove-player'>Delete</button></td>
					<tr>
				{{/each}}
			</table>
		</div>
	</div>
	<div class="col-6">
		<div class="accordion-header">Team 2</div>
		<div class="accordion-content">
			<table>
				<tr>
					<th class="th-dark">Team</th>
					<th class="th-dark">Player</th>
					<th class="th-dark">Remove Player</th>
				</tr>
				{{#each dotArray}}
					<tr data-player-id="{{this.id}}" contentEditable="true">
						<td data-team="{{this.team}}">{{this.team}}</td>
						<td data-player="{{this.player}}">{{this.player}}</td>
						<td contentEditable="false" class="center"><button id='js-remove-player'>Delete</button></td>
					<tr>
				{{/each}}
			</table>
		</div>
	</div>
</div>
<div class="background-color form-btn-padding center">
	<button class='js-save-btn save'>Save</button>
	<button class='js-cancel-btn'><a href="/profile/">Cancel</a></button>
</div>
<!--Add section to display list of all formations; similar to the home page-->
<div class="background-color" id="more-formations">
	<h4>See More Formations</h4>
{{!-- 	<ul>
		<li>Link 1</li>
		<li>Link 2</li>
		<li>Link 3</li>
	</ul> --}}
	<!--Display a random list of 5 links to display-->

</div>

{{!-- Create a section for users to leave feedback on a formation --}}
<div class="background-color" id="comment-section">
	<h4>Comments:</h4>
	{{!-- setup communication between client and server side --}}
	<form action="/submitComment" method="post">
		<input type="text" name="userFeedback" placeholder="Provide feedback" id="userFeedback" class="center">
		<br>
		<input type="submit" name="submitBtn" class="center form-btn-padding">
	</form>
	<ul id="comments-provided">
		{{#each comments}}
			<li>{{this.feedback}}</li>
		{{/each}}
	</ul>

</div>
<script type="text/javascript">
	let dots = {{{dots}}};
	console.log(dots);
</script>
<script src="../javascript/soccer-d3.js"></script>