<div class="container">
	<h1>{{formation.name}}</h1>
	{{!--<h3 id="formationName">{{formation.name}}</h3>--}}
	<button id='js-fork-btn' class="float-r">Fork</button>
	{{#if user}}
	    Created by: {{user.username}}
	{{/if}}
	<div>
	{{cat}}
	{{!--formation.dots--}}
	</div>
	{{!-- {{create buttons for cancel save add player fork}} --}}
	<div class="clearfix">
		<div class="team-wrap">
			<div class="i-block">Team 1</div>
			<select id='team1'>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
			</select>
		</div>

		<div class="team-wrap">
			<div class="i-block">Team 2</div>
			<select id='team2'>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
			</select>
		</div>

		<br>
		<br>

		<button class='js-save-btn save'>Save</button>
		<button class='js-cancel-btn'><a href="/profile/">Cancel</a></button>
		<button class='js-delete-btn delete'>Delete</button>
		<button class='js-edit-btn'>Edit</button>
	</div>

	<table>
		<th>Team</th>
		<th>Player</th>
		{{#each dotArray}}
			<tr data-player-id="{{this.id}}" contentEditable="true">
				<td data-team="{{this.team}}">{{this.team}}</td>
				<td data-player="{{this.player}}">{{this.player}}</td>
			<tr>
		{{/each}}
	</table>


</div>
<script type="text/javascript">
	let dots = {{{dots}}};
	console.log(dots);
</script>
<script src="../javascript/soccer-d3.js"></script>