<div class="container">
	<h1>Formation: {{formation.name}}</h1>
	{{#if user}}
	    <div class="">Created by: {{formation.authorName}}</div>
	{{/if}}
	{{!--<div>
		{{cat}}
		{{!--formation.dots--}}
	</div>
	{{!-- {{create buttons for cancel save add player fork}} --}}
	<div class="container center">
		<button id='js-fork-btn' class="fork">Fork</button>
		<button class='js-edit-btn'>Edit</button>
		<button class='js-delete-btn delete'>Delete</button>
		<br>
		<div class="team-wrap">
			<div class="i-block">Team 1</div>
			<button class='js-addPlayer-btn'>+ Player</button>
		</div>
		<div class="team-wrap">
			<div class="i-block">Team 2</div>
			<br>
			<button class='js-addPlayer-btn'>+ Player</button>
		</div>

	</div>
</div>

<div id='soccerField'></div>
<div class="container">
	<h3 class="center">Player Table</h3>
	<table class="col-6 team1">
		<tr>
			<th colspan="3">Team 1</th>
		</tr>
		<tr>
			<th class="th-dark">Team</th>
			<th class="th-dark">Player</th>
			<th class="th-dark">Remove Player</th>
		</tr>
		{{#each dotArray}}
			<tr data-player-id="{{this.id}}" contentEditable="true">
				<td data-team="{{this.team}}">{{this.team}}</td>
				<td data-player="{{this.player}}">{{this.player}}</td>
				<td contentEditable="false" class="center"><button id='js-remove-player'>Delete</button></td>
			<tr>
		{{/each}}
	</table>
	
	<table class="col-6 team2">
		<tr>
			<th colspan="3">Team 2</th>
		</tr>
		<tr>
			<th class="th-dark">Team</th>
			<th class="th-dark">Player</th>
			<th class="th-dark">Remove Player</th>
		</tr>
		{{#each dotArray}}
			<tr data-player-id="{{this.id}}" contentEditable="true">
				<td data-team="{{this.team}}">{{this.team}}</td>
				<td data-player="{{this.player}}">{{this.player}}</td>
				<td contentEditable="false" class="center"><button id='js-remove-player'>Delete</button></td>
			<tr>
		{{/each}}
	</table>
	<button class='js-save-btn save block-center'>Save</button>
	<button class='js-cancel-btn block-center'><a href="/profile/">Cancel</a></button>
</div>
<script type="text/javascript">
	let dots = {{{dots}}};
	console.log(dots);
</script>
<script src="../javascript/soccer-d3.js"></script>